asgiref==3.4.1
astroid==2.5.6
colorama==0.4.4
cowsay==3.0
Django==3.2.7
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
mysql-connector-python==8.0.24
Pillow==8.3.2
prettytable==2.1.0
protobuf==3.15.8
pylint==2.8.3
PyMySQL==1.0.2
pynput==1.7.3
python-loc-counter==0.2
pytz==2021.1
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
wcwidth==0.2.5
wrapt==1.12.1
